## Chapter 1: Using iterators in PythonLand

In [1]:
# Note: flash1 is an iterable and flash2 is an iterator.
flash1= ['jay garrick', 'barry allen', 'wally west', 'bart allen']
flash2=iter(flash1)
print(type(flash1), type(flash2))

<class 'list'> <class 'list_iterator'>

In [2]:
# Create a list of strings: flash
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

# Print each list item in flash using a for loop
for person in flash:
    print(person)


# Create an iterator for flash: superhero
superhero=iter(flash)

# Print each item from the iterator
print(next(superhero))
print(next(superhero))
print(next(superhero))
print(next(superhero))

jay garrick
barry allen
wally west
bart allen
jay garrick
barry allen
wally west
bart allen

In [3]:
# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

# Loop over range(3) and print the values
for num in range(3):
    print(num)

# Create an iterator for range(10 ** 100): googol
googol = iter(range(10 ** 100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
0
1
2
0
1
2
3
4

In [4]:
# Create a range object: values
values = (range(10,21))

# Print the range object
print(values)

# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)

range(10, 21)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
165

In [5]:
# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']

# Create a list of tuples: mutant_list
mutant_list =list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

# Unpack and print the tuple pairs
for index1, value1 in list(enumerate(mutants)):
    print(index1, value1)

# Change the start index
for index2, value2 in enumerate(mutants, start=1):
    print(index2, value2)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]
0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde
1 charles xavier
2 bobby drake
3 kurt wagner
4 max eisenhardt
5 kitty pryde

In [6]:
aliases=['prof x', 'iceman', 'nightcrawler', 'magneto', 'shadowcat'] 
powers= ['telepathy', 'thermokinesis', 'teleportation', 'magnetokinesis', 'intangibility']

In [7]:
# Create a list of tuples: mutant_data
mutant_data = list(zip(mutants, aliases, powers))

# Print the list of tuples
print(mutant_data)

# Create a zip object using the three lists: mutant_zip
mutant_zip = zip(mutants, aliases, powers)

# Print the zip object
print(mutant_zip)

# Unpack the zip object and print the tuple values
for value1, value2, value3 in mutant_zip:
    print(value1, value2, value3)

[('charles xavier', 'prof x', 'telepathy'), ('bobby drake', 'iceman', 'thermokinesis'), ('kurt wagner', 'nightcrawler', 'teleportation'), ('max eisenhardt', 'magneto', 'magnetokinesis'), ('kitty pryde', 'shadowcat', 'intangibility')]
<zip object at 0x056E9DE8>
charles xavier prof x telepathy
bobby drake iceman thermokinesis
kurt wagner nightcrawler teleportation
max eisenhardt magneto magnetokinesis
kitty pryde shadowcat intangibility

In [8]:
# Create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# Print the tuples in z1 by unpacking with *
print(*z1)

# Re-create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# 'Unzip' the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)

# Check if unpacked tuples are equivalent to original tuples
print(result1 == mutants)
print(result2 == powers)

('charles xavier', 'telepathy') ('bobby drake', 'thermokinesis') ('kurt wagner', 'teleportation') ('max eisenhardt', 'magnetokinesis') ('kitty pryde', 'intangibility')
False
False

In [9]:
import pandas as pd
# Initialize an empty dictionary: counts_dict
counts_dict={}

# Iterate over the file chunk by chunk
for chunk in pd.read_csv('../datasets/tweets.csv', chunksize=10):

    # Iterate over the column in DataFrame
    for entry in chunk.lang:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

{'en': 97, 'et': 1, 'und': 2}

In [10]:
# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize=c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries('../datasets/tweets.csv', 10, 'lang')

# Print result_counts
print(result_counts)

{'en': 97, 'et': 1, 'und': 2}

## Chapter 2:List comprehensions and generators

In [11]:
doctor = ['house', 'cuddy', 'chase', 'thirteen', 'wilson']
#How would a list comprehension that produces a list of the first character of each string in doctor look like? Note that the list comprehension uses doc as the iterator variable. What will the output be?
#The list comprehension is [doc[0] for doc in doctor] and produces the list ['h', 'c', 'c', 't', 'w']

In [12]:
# Create list comprehension: squares
squares = [i**2 for i in range(0,10)]

In [13]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(5)] for row in range(5)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [14]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [x for x in fellowship if len(x)>=7]

# Print the new list
print(new_fellowship)

['samwise', 'aragorn', 'legolas', 'boromir']

In [15]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [x if len(x) >=7 else '' for x in fellowship]

# Print the new list
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

In [16]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create dict comprehension: new_fellowship
new_fellowship = { x: len(x) for x in fellowship}

# Print the new dictionary
print(new_fellowship)

{'frodo': 5, 'samwise': 7, 'merry': 5, 'aragorn': 7, 'legolas': 7, 'boromir': 7, 'gimli': 5}

In [17]:
# List of strings
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# List comprehension
fellow1 = [member for member in fellowship if len(member) >= 7]

# Generator expression
fellow2 = (member for member in fellowship if len(member) >= 7)

* Q: Based on your observations and what you can recall from the video, select from the options below the best description for the difference between list comprehensions and generators.
* A: A list comprehension produces a list as output, a generator produces a generator object.

In [18]:
# Create generator object: result
result = (num for num in range(31))

# Print the first 5 values
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

# Print the rest of the values
for value in result:
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [19]:
# Create a list of strings: lannister
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Create a generator object: lengths
lengths = (len(person) for person in lannister)

# Iterate over and print the values in lengths
for value in lengths:
    print(value)

6
5
5
6
7

In [20]:
# Create a list of strings
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Define generator function get_lengths
def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield len(person)
        print(person)

# Print the values generated by get_lengths()
for value in get_lengths(lannister):
    print(value)

6
cersei
5
jaime
5
tywin
6
tyrion
7
joffrey

In [21]:
df= pd.read_csv('../datasets/tweets.csv')

In [22]:
# Extract the created_at column from df: tweet_time
tweet_time = df.created_at

# Extract the clock time: tweet_clock_time
tweet_clock_time = [entry[11:19] for entry in tweet_time]

# Print the extracted times
print(tweet_clock_time)

['23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']

In [23]:
# Extract the created_at column from df: tweet_time
tweet_time = df.created_at

# Extract the clock time: tweet_clock_time
tweet_clock_time = [entry[11:19] for entry in tweet_time if entry[17:19] == '19']

# Print the extracted times
print(tweet_clock_time)

['23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']

## Chapter 3:Bringing it all together

In [24]:
df_pop= pd.read_csv('../datasets/WorldBank_POP.xls')
row_vals= list(df_pop.values)
feature_names=list(df_pop.columns)

In [25]:
# Zip lists: zipped_lists
zipped_lists = zip(feature_names, row_vals)

# Create a dictionary: rs_dict
rs_dict = dict(zipped_lists)

# Print the dictionary
print(rs_dict)

{'Country Name': array(['Aruba', 'ABW', 'Population, total', 2010, 101669.0], dtype=object), 'Country Code': array(['Afghanistan', 'AFG', 'Population, total', 2010, 29185507.0],
      dtype=object), 'Indicator Name': array(['Angola', 'AGO', 'Population, total', 2010, 23356246.0],
      dtype=object), 'Year': array(['Albania', 'ALB', 'Population, total', 2010, 2913021.0],
      dtype=object), 'Pop': array(['Andorra', 'AND', 'Population, total', 2010, 84449.0], dtype=object)}

In [26]:
# Define lists2dict()
def lists2dict(list1, list2):
    """Return a dictionary where list1 provides
    the keys and list2 provides the values."""

    # Zip lists: zipped_lists
    zipped_lists = zip(list1, list2)

    # Create a dictionary: rs_dict
    rs_dict = dict(zipped_lists)

    # Return the dictionary
    return rs_dict

# Call lists2dict: rs_fxn
rs_fxn = lists2dict(feature_names, row_vals)

# Print rs_fxn
print(rs_fxn)

{'Country Name': array(['Aruba', 'ABW', 'Population, total', 2010, 101669.0], dtype=object), 'Country Code': array(['Afghanistan', 'AFG', 'Population, total', 2010, 29185507.0],
      dtype=object), 'Indicator Name': array(['Angola', 'AGO', 'Population, total', 2010, 23356246.0],
      dtype=object), 'Year': array(['Albania', 'ALB', 'Population, total', 2010, 2913021.0],
      dtype=object), 'Pop': array(['Andorra', 'AND', 'Population, total', 2010, 84449.0], dtype=object)}

In [27]:
row_lists=[]
row_lists.append(row_vals)
row_lists.append(row_vals[0])

In [28]:
# Print the first two lists in row_lists
print(row_lists[0])
print(row_lists[1])

# Turn list of lists into list of dicts: list_of_dicts
list_of_dicts = [lists2dict(feature_names, sublist) for sublist in row_lists]

# Print the first two dictionaries in list_of_dicts
print(list_of_dicts[0])
print(list_of_dicts[1])

prus', 'CYP', 'Population, total', 2018, 1189265.0],
      dtype=object), array(['Czech Republic', 'CZE', 'Population, total', 2018, 10625695.0],
      dtype=object), array(['Germany', 'DEU', 'Population, total', 2018, 82927922.0],
      dtype=object), array(['Djibouti', 'DJI', 'Population, total', 2018, 958920.0],
      dtype=object), array(['Dominica', 'DMA', 'Population, total', 2018, 71625.0],
      dtype=object), array(['Denmark', 'DNK', 'Population, total', 2018, 5797446.0],
      dtype=object), array(['Dominican Republic', 'DOM', 'Population, total', 2018, 10627165.0],
      dtype=object), array(['Algeria', 'DZA', 'Population, total', 2018, 42228429.0],
      dtype=object), array(['East Asia & Pacific (excluding high income)', 'EAP',
       'Population, total', 2018, 2081651801.0], dtype=object), array(['Early-demographic dividend', 'EAR', 'Population, total', 2018,
       3249140605.0], dtype=object), array(['East Asia & Pacific', 'EAS', 'Population, total', 2018,
       2328220870.0], dtype=object), array(['Europe & Central Asia (excluding high income)', 'ECA',
       'Population, total', 2018, 417797257.0], dtype=object), array(['Europe & Central Asia', 'ECS', 'Population, total', 2018,
       918793590.0], dtype=object), array(['Ecuador', 'ECU', 'Population, total', 2018, 17084357.0],
      dtype=object), array(['Egypt, Arab Rep.', 'EGY', 'Population, total', 2018, 98423595.0],
      dtype=object), array(['Euro area', 'EMU', 'Population, total', 2018, 341783171.0],
      dtype=object), array(['Eritrea', 'ERI', 'Population, total', 2018, nan], dtype=object), array(['Spain', 'ESP', 'Population, total', 2018, 46723749.0],
      dtype=object), array(['Estonia', 'EST', 'Population, total', 2018, 1320884.0],
      dtype=object), array(['Ethiopia', 'ETH', 'Population, total', 2018, 109224559.0],
      dtype=object), array(['European Union', 'EUU', 'Population, total', 2018, 513213363.0],
      dtype=object), array(['Fragile and conflict affected situations', 'FCS',
       'Population, total', 2018, 515215936.0], dtype=object), array(['Finland', 'FIN', 'Population, total', 2018, 5518050.0],
      dtype=object), array(['Fiji', 'FJI', 'Population, total', 2018, 883483.0], dtype=object), array(['France', 'FRA', 'Population, total', 2018, 66987244.0],
      dtype=object), array(['Faroe Islands', 'FRO', 'Population, total', 2018, 48497.0],
      dtype=object), array(['Micronesia, Fed. Sts.', 'FSM', 'Population, total', 2018,
       112640.0], dtype=object), array(['Gabon', 'GAB', 'Population, total', 2018, 2119275.0], dtype=object), array(['United Kingdom', 'GBR', 'Population, total', 2018, 66488991.0],
      dtype=object), array(['Georgia', 'GEO', 'Population, total', 2018, 3731000.0],
      dtype=object), array(['Ghana', 'GHA', 'Population, total', 2018, 29767108.0],
      dtype=object), array(['Gibraltar', 'GIB', 'Population, total', 2018, 33718.0],
      dtype=object), array(['Guinea', 'GIN', 'Population, total', 2018, 12414318.0],
      dtype=object), array(['Gambia, The', 'GMB', 'Population, total', 2018, 2280102.0],
      dtype=object), array(['Guinea-Bissau', 'GNB', 'Population, total', 2018, 1874309.0],
      dtype=object), array(['Equatorial Guinea', 'GNQ', 'Population, total', 2018, 1308974.0],
      dtype=object), array(['Greece', 'GRC', 'Population, total', 2018, 10727668.0],
      dtype=object), array(['Grenada', 'GRD', 'Population, total', 2018, 111454.0],
      dtype=object), array(['Greenland', 'GRL', 'Population, total', 2018, 56025.0],
      dtype=object), array(['Guatemala', 'GTM', 'Population, total', 2018, 17247807.0],
      dtype=object), array(['Guam', 'GUM', 'Population, total', 2018, 165768.0], dtype=object), array(['Guyana', 'GUY', 'Population, total', 2018, 779004.0], dtype=object), array(['High income', 'HIC', 'Population, total', 2018, 1210312147.0],
      dtype=object), array(['Hong Kong SAR, China', 'HKG', 'Population, total', 2018,
       7451000.0], dtype=object), array(['Honduras', 'HND', 'Population, total', 2018, 9587522.0],
      dtype=object), array(['Heavily indebted poor countries (HIPC)', 'HPC',
       'Population, total', 2018, 780234406.0], dtype=object), array(['Croatia', 'HRV', 'Population, total', 2018, 4089400.0],
      dtype=object), array(['Haiti', 'HTI', 'Population, total', 2018, 11123176.0],
      dtype=object), array(['Hungary', 'HUN', 'Population, total', 2018, 9768785.0],
      dtype=object), array(['IBRD only', 'IBD', 'Population, total', 2018, 4772284113.0],
      dtype=object), array(['IDA & IBRD total', 'IBT', 'Population, total', 2018, 6412522234.0],
      dtype=object), array(['IDA total', 'IDA', 'Population, total', 2018, 1640238121.0],
      dtype=object), array(['IDA blend', 'IDB', 'Population, total', 2018, 555830605.0],
      dtype=object), array(['Indonesia', 'IDN', 'Population, total', 2018, 267663435.0],
      dtype=object), array(['IDA only', 'IDX', 'Population, total', 2018, 1084407516.0],
      dtype=object), array(['Isle of Man', 'IMN', 'Population, total', 2018, 84077.0],
      dtype=object), array(['India', 'IND', 'Population, total', 2018, 1352617328.0],
      dtype=object), array(['Not classified', 'INX', 'Population, total', 2018, nan],
      dtype=object), array(['Ireland', 'IRL', 'Population, total', 2018, 4853506.0],
      dtype=object), array(['Iran, Islamic Rep.', 'IRN', 'Population, total', 2018, 81800269.0],
      dtype=object), array(['Iraq', 'IRQ', 'Population, total', 2018, 38433600.0], dtype=object), array(['Iceland', 'ISL', 'Population, total', 2018, 353574.0],
      dtype=object), array(['Israel', 'ISR', 'Population, total', 2018, 8883800.0],
      dtype=object), array(['Italy', 'ITA', 'Population, total', 2018, 60431283.0],
      dtype=object), array(['Jamaica', 'JAM', 'Population, total', 2018, 2934855.0],
      dtype=object), array(['Jordan', 'JOR', 'Population, total', 2018, 9956011.0],
      dtype=object), array(['Japan', 'JPN', 'Population, total', 2018, 126529100.0],
      dtype=object), array(['Kazakhstan', 'KAZ', 'Population, total', 2018, 18276499.0],
      dtype=object), array(['Kenya', 'KEN', 'Population, total', 2018, 51393010.0],
      dtype=object), array(['Kyrgyz Republic', 'KGZ', 'Population, total', 2018, 6315800.0],
      dtype=object), array(['Cambodia', 'KHM', 'Population, total', 2018, 16249798.0],
      dtype=object), array(['Kiribati', 'KIR', 'Population, total', 2018, 115847.0],
      dtype=object), array(['St. Kitts and Nevis', 'KNA', 'Population, total', 2018, 52441.0],
      dtype=object), array(['Korea, Rep.', 'KOR', 'Population, total', 2018, 51635256.0],
      dtype=object), array(['Kuwait', 'KWT', 'Population, total', 2018, 4137309.0],
      dtype=object), array(['Latin America & Caribbean (excluding high income)', 'LAC',
       'Population, total', 2018, 609013934.0], dtype=object), array(['Lao PDR', 'LAO', 'Population, total', 2018, 7061507.0],
      dtype=object), array(['Lebanon', 'LBN', 'Population, total', 2018, 6848925.0],
      dtype=object), array(['Liberia', 'LBR', 'Population, total', 2018, 4818977.0],
      dtype=object), array(['Libya', 'LBY', 'Population, total', 2018, 6678567.0], dtype=object), array(['St. Lucia', 'LCA', 'Population, total', 2018, 181889.0],
      dtype=object), array(['Latin America & Caribbean', 'LCN', 'Population, total', 2018,
       641357515.0], dtype=object), array(['Least developed countries: UN classification', 'LDC',
       'Population, total', 2018, 1009662578.0], dtype=object), array(['Low income', 'LIC', 'Population, total', 2018, 705417321.0],
      dtype=object), array(['Liechtenstein', 'LIE', 'Population, total', 2018, 37910.0],
      dtype=object), array(['Sri Lanka', 'LKA', 'Population, total', 2018, 21670000.0],
      dtype=object), array(['Lower middle income', 'LMC', 'Population, total', 2018,
       3022905169.0], dtype=object), array(['Low & middle income', 'LMY', 'Population, total', 2018,
       6383958209.0], dtype=object), array(['Lesotho', 'LSO', 'Population, total', 2018, 2108132.0],
      dtype=object), array(['Late-demographic dividend', 'LTE', 'Population, total', 2018,
       2288665963.0], dtype=object), array(['Lithuania', 'LTU', 'Population, total', 2018, 2789533.0],
      dtype=object), array(['Luxembourg', 'LUX', 'Population, total', 2018, 607728.0],
      dtype=object), array(['Latvia', 'LVA', 'Population, total', 2018, 1926542.0],
      dtype=object), array(['Macao SAR, China', 'MAC', 'Population, total', 2018, 631636.0],
      dtype=object), array(['St. Martin (French part)', 'MAF', 'Population, total', 2018,
       37264.0], dtype=object), array(['Morocco', 'MAR', 'Population, total', 2018, 36029138.0],
      dtype=object), array(['Monaco', 'MCO', 'Population, total', 2018, 38682.0], dtype=object), array(['Moldova', 'MDA', 'Population, total', 2018, 3545883.0],
      dtype=object), array(['Madagascar', 'MDG', 'Population, total', 2018, 26262368.0],
      dtype=object), array(['Maldives', 'MDV', 'Population, total', 2018, 515696.0],
      dtype=object), array(['Middle East & North Africa', 'MEA', 'Population, total', 2018,
       448912859.0], dtype=object), array(['Mexico', 'MEX', 'Population, total', 2018, 126190788.0],
      dtype=object), array(['Marshall Islands', 'MHL', 'Population, total', 2018, 58413.0],
      dtype=object), array(['Middle income', 'MIC', 'Population, total', 2018, 5678540888.0],
      dtype=object), array(['North Macedonia', 'MKD', 'Population, total', 2018, 2082958.0],
      dtype=object), array(['Mali', 'MLI', 'Population, total', 2018, 19077690.0], dtype=object), array(['Malta', 'MLT', 'Population, total', 2018, 483530.0], dtype=object), array(['Myanmar', 'MMR', 'Population, total', 2018, 53708395.0],
      dtype=object), array(['Middle East & North Africa (excluding high income)', 'MNA',
       'Population, total', 2018, 382896715.0], dtype=object), array(['Montenegro', 'MNE', 'Population, total', 2018, 622345.0],
      dtype=object), array(['Mongolia', 'MNG', 'Population, total', 2018, 3170208.0],
      dtype=object), array(['Northern Mariana Islands', 'MNP', 'Population, total', 2018,
       56882.0], dtype=object), array(['Mozambique', 'MOZ', 'Population, total', 2018, 29495962.0],
      dtype=object), array(['Mauritania', 'MRT', 'Population, total', 2018, 4403319.0],
      dtype=object), array(['Mauritius', 'MUS', 'Population, total', 2018, 1265303.0],
      dtype=object), array(['Malawi', 'MWI', 'Population, total', 2018, 18143315.0],
      dtype=object), array(['Malaysia', 'MYS', 'Population, total', 2018, 31528585.0],
      dtype=object), array(['North America', 'NAC', 'Population, total', 2018, 364290258.0],
      dtype=object), array(['Namibia', 'NAM', 'Population, total', 2018, 2448255.0],
      dtype=object), array(['New Caledonia', 'NCL', 'Population, total', 2018, 284060.0],
      dtype=object), array(['Niger', 'NER', 'Population, total', 2018, 22442948.0],
      dtype=object), array(['Nigeria', 'NGA', 'Population, total', 2018, 195874740.0],
      dtype=object), array(['Nicaragua', 'NIC', 'Population, total', 2018, 6465513.0],
      dtype=object), array(['Netherlands', 'NLD', 'Population, total', 2018, 17231017.0],
      dtype=object), array(['Norway', 'NOR', 'Population, total', 2018, 5314336.0],
      dtype=object), array(['Nepal', 'NPL', 'Population, total', 2018, 28087871.0],
      dtype=object), array(['Nauru', 'NRU', 'Population, total', 2018, 12704.0], dtype=object), array(['New Zealand', 'NZL', 'Population, total', 2018, 4885500.0],
      dtype=object), array(['OECD members', 'OED', 'Population, total', 2018, 1303529456.0],
      dtype=object), array(['Oman', 'OMN', 'Population, total', 2018, 4829483.0], dtype=object), array(['Other small states', 'OSS', 'Population, total', 2018, 30758989.0],
      dtype=object), array(['Pakistan', 'PAK', 'Population, total', 2018, 212215030.0],
      dtype=object), array(['Panama', 'PAN', 'Population, total', 2018, 4176873.0],
      dtype=object), array(['Peru', 'PER', 'Population, total', 2018, 31989256.0], dtype=object), array(['Philippines', 'PHL', 'Population, total', 2018, 106651922.0],
      dtype=object), array(['Palau', 'PLW', 'Population, total', 2018, 17907.0], dtype=object), array(['Papua New Guinea', 'PNG', 'Population, total', 2018, 8606316.0],
      dtype=object), array(['Poland', 'POL', 'Population, total', 2018, 37978548.0],
      dtype=object), array(['Pre-demographic dividend', 'PRE', 'Population, total', 2018,
       919485393.0], dtype=object), array(['Puerto Rico', 'PRI', 'Population, total', 2018, 3195153.0],
      dtype=object), array(['Korea, Dem. People’s Rep.', 'PRK', 'Population, total', 2018,
       25549819.0], dtype=object), array(['Portugal', 'PRT', 'Population, total', 2018, 10281762.0],
      dtype=object), array(['Paraguay', 'PRY', 'Population, total', 2018, 6956071.0],
      dtype=object), array(['West Bank and Gaza', 'PSE', 'Population, total', 2018, 4569087.0],
      dtype=object), array(['Pacific island small states', 'PSS', 'Population, total', 2018,
       2457367.0], dtype=object), array(['Post-demographic dividend', 'PST', 'Population, total', 2018,
       1109997273.0], dtype=object), array(['French Polynesia', 'PYF', 'Population, total', 2018, 277679.0],
      dtype=object), array(['Qatar', 'QAT', 'Population, total', 2018, 2781677.0], dtype=object), array(['Romania', 'ROU', 'Population, total', 2018, 19473936.0],
      dtype=object), array(['Russian Federation', 'RUS', 'Population, total', 2018,
       144478050.0], dtype=object), array(['Rwanda', 'RWA', 'Population, total', 2018, 12301939.0],
      dtype=object), array(['South Asia', 'SAS', 'Population, total', 2018, 1814388744.0],
      dtype=object), array(['Saudi Arabia', 'SAU', 'Population, total', 2018, 33699947.0],
      dtype=object), array(['Sudan', 'SDN', 'Population, total', 2018, 41801533.0],
      dtype=object), array(['Senegal', 'SEN', 'Population, total', 2018, 15854360.0],
      dtype=object), array(['Singapore', 'SGP', 'Population, total', 2018, 5638676.0],
      dtype=object), array(['Solomon Islands', 'SLB', 'Population, total', 2018, 652858.0],
      dtype=object), array(['Sierra Leone', 'SLE', 'Population, total', 2018, 7650154.0],
      dtype=object), array(['El Salvador', 'SLV', 'Population, total', 2018, 6420744.0],
      dtype=object), array(['San Marino', 'SMR', 'Population, total', 2018, 33785.0],
      dtype=object), array(['Somalia', 'SOM', 'Population, total', 2018, 15008154.0],
      dtype=object), array(['Serbia', 'SRB', 'Population, total', 2018, 6982084.0],
      dtype=object), array(['Sub-Saharan Africa (excluding high income)', 'SSA',
       'Population, total', 2018, 1078209758.0], dtype=object), array(['South Sudan', 'SSD', 'Population, total', 2018, 10975920.0],
      dtype=object), array(['Sub-Saharan Africa', 'SSF', 'Population, total', 2018,
       1078306520.0], dtype=object), array(['Small states', 'SST', 'Population, total', 2018, 40575321.0],
      dtype=object), array(['Sao Tome and Principe', 'STP', 'Population, total', 2018,
       211028.0], dtype=object), array(['Suriname', 'SUR', 'Population, total', 2018, 575991.0],
      dtype=object), array(['Slovak Republic', 'SVK', 'Population, total', 2018, 5447011.0],
      dtype=object), array(['Slovenia', 'SVN', 'Population, total', 2018, 2067372.0],
      dtype=object), array(['Sweden', 'SWE', 'Population, total', 2018, 10183175.0],
      dtype=object), array(['Eswatini', 'SWZ', 'Population, total', 2018, 1136191.0],
      dtype=object), array(['Sint Maarten (Dutch part)', 'SXM', 'Population, total', 2018,
       40654.0], dtype=object), array(['Seychelles', 'SYC', 'Population, total', 2018, 96762.0],
      dtype=object), array(['Syrian Arab Republic', 'SYR', 'Population, total', 2018,
       16906283.0], dtype=object), array(['Turks and Caicos Islands', 'TCA', 'Population, total', 2018,
       37665.0], dtype=object), array(['Chad', 'TCD', 'Population, total', 2018, 15477751.0], dtype=object), array(['East Asia & Pacific (IDA & IBRD countries)', 'TEA',
       'Population, total', 2018, 2056064424.0], dtype=object), array(['Europe & Central Asia (IDA & IBRD countries)', 'TEC',
       'Population, total', 2018, 459865205.0], dtype=object), array(['Togo', 'TGO', 'Population, total', 2018, 7889094.0], dtype=object), array(['Thailand', 'THA', 'Population, total', 2018, 69428524.0],
      dtype=object), array(['Tajikistan', 'TJK', 'Population, total', 2018, 9100837.0],
      dtype=object), array(['Turkmenistan', 'TKM', 'Population, total', 2018, 5850908.0],
      dtype=object), array(['Latin America & the Caribbean (IDA & IBRD countries)', 'TLA',
       'Population, total', 2018, 625569713.0], dtype=object), array(['Timor-Leste', 'TLS', 'Population, total', 2018, 1267972.0],
      dtype=object), array(['Middle East & North Africa (IDA & IBRD countries)', 'TMN',
       'Population, total', 2018, 378327628.0], dtype=object), array(['Tonga', 'TON', 'Population, total', 2018, 103197.0], dtype=object), array(['South Asia (IDA & IBRD)', 'TSA', 'Population, total', 2018,
       1814388744.0], dtype=object), array(['Sub-Saharan Africa (IDA & IBRD countries)', 'TSS',
       'Population, total', 2018, 1078306520.0], dtype=object), array(['Trinidad and Tobago', 'TTO', 'Population, total', 2018, 1389858.0],
      dtype=object), array(['Tunisia', 'TUN', 'Population, total', 2018, 11565204.0],
      dtype=object), array(['Turkey', 'TUR', 'Population, total', 2018, 82319724.0],
      dtype=object), array(['Tuvalu', 'TUV', 'Population, total', 2018, 11508.0], dtype=object), array(['Tanzania', 'TZA', 'Population, total', 2018, 56318348.0],
      dtype=object), array(['Uganda', 'UGA', 'Population, total', 2018, 42723139.0],
      dtype=object), array(['Ukraine', 'UKR', 'Population, total', 2018, 44622516.0],
      dtype=object), array(['Upper middle income', 'UMC', 'Population, total', 2018,
       2655635719.0], dtype=object), array(['Uruguay', 'URY', 'Population, total', 2018, 3449299.0],
      dtype=object), array(['United States', 'USA', 'Population, total', 2018, 327167434.0],
      dtype=object), array(['Uzbekistan', 'UZB', 'Population, total', 2018, 32955400.0],
      dtype=object), array(['St. Vincent and the Grenadines', 'VCT', 'Population, total', 2018,
       110210.0], dtype=object), array(['Venezuela, RB', 'VEN', 'Population, total', 2018, 28870195.0],
      dtype=object), array(['British Virgin Islands', 'VGB', 'Population, total', 2018,
       29802.0], dtype=object), array(['Virgin Islands (U.S.)', 'VIR', 'Population, total', 2018,
       106977.0], dtype=object), array(['Vietnam', 'VNM', 'Population, total', 2018, 95540395.0],
      dtype=object), array(['Vanuatu', 'VUT', 'Population, total', 2018, 292680.0],
      dtype=object), array(['World', 'WLD', 'Population, total', 2018, 7594270356.0],
      dtype=object), array(['Samoa', 'WSM', 'Population, total', 2018, 196130.0], dtype=object), array(['Kosovo', 'XKX', 'Population, total', 2018, 1845300.0],
      dtype=object), array(['Yemen, Rep.', 'YEM', 'Population, total', 2018, 28498687.0],
      dtype=object), array(['South Africa', 'ZAF', 'Population, total', 2018, 57779622.0],
      dtype=object), array(['Zambia', 'ZMB', 'Population, total', 2018, 17351822.0],
      dtype=object), array(['Zimbabwe', 'ZWE', 'Population, total', 2018, 14439018.0],
      dtype=object)]
['Aruba' 'ABW' 'Population, total' 2010 101669.0]
{'Country Name': array(['Aruba', 'ABW', 'Population, total', 2010, 101669.0], dtype=object), 'Country Code': array(['Afghanistan', 'AFG', 'Population, total', 2010, 29185507.0],
      dtype=object), 'Indicator Name': array(['Angola', 'AGO', 'Population, total', 2010, 23356246.0],
      dtype=object), 'Year': array(['Albania', 'ALB', 'Population, total', 2010, 2913021.0],
      dtype=object), 'Pop': array(['Andorra', 'AND', 'Population, total', 2010, 84449.0], dtype=object)}
{'Country Name': 'Aruba', 'Country Code': 'ABW', 'Indicator Name': 'Population, total', 'Year': 2010, 'Pop': 101669.0}

In [29]:
# Import the pandas package
import pandas as pd

# Turn list of lists into list of dicts: list_of_dicts
list_of_dicts = [lists2dict(feature_names, sublist) for sublist in row_lists]

# Turn list of dicts into a DataFrame: df
df = pd.DataFrame(list_of_dicts)

# Print the head of the DataFrame
print(df.head())

Country Name  \
0  [Aruba, ABW, Population, total, 2010, 101669.0]
1                                            Aruba

                                        Country Code  \
0  [Afghanistan, AFG, Population, total, 2010, 29...
1                                                ABW

                                      Indicator Name  \
0  [Angola, AGO, Population, total, 2010, 2335624...
1                                  Population, total

                                                Year  \
0  [Albania, ALB, Population, total, 2010, 291302...
1                                               2010

                                                Pop
0  [Andorra, AND, Population, total, 2010, 84449.0]
1                                            101669

In [31]:
len("Google etkisi\
Google etkisi ya da dijital amnezi[1]\
arama motoru aracılığıyla internette\
kolayca bulunabilen bilgilerin, edinildikten\
sonra hızlı bir biçimde unutulmasına\
verilen addır.\
Google etkisi ile ilgili yapılan ilk\
araştırmaya göre, kişilerin çevrimiçi\
olarak erişilebilir olacağına inandıkları\
bazı ayrıntıları hatırlamaları daha az\
olasıdır. Bununla birlikte, çalışma aynı\
zamanda insanların çevrimdışı bilgileri")

411